a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

.navigationContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
}

.navigation {
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;
    top: 0px;
    width: 256px;
    left: 0;
    bottom: 0;
}

.navigation nav {
    width: 100%;
}

.navigation Img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 24px;
}

.navigation div {
    display: flex;
    align-items: center;
}

.button {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 5px;
    padding: 8px 12px 8px 24px;
    cursor: pointer;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    transition: background-color 1s ease-out 10ms
}

.button:hover {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    padding: 8px 12px 8px 24px;
    background: rgb(120, 194, 231);

}

section {
    width: calc(100% - 335px);
    margin-left: 335px;
    padding-top: 24px;
}

.mainContent {
    background-color: wheat;
    display: flex;
    justify-content: center;
    padding-left: 24px;
}

.mainContentInputs {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sMarginList {
    margin: 5px 0px;
}

.mMarginList {
    margin: 0px 16px;
}

.mainContent ul {
    display: contents;
}

.mainContent ul li {
    list-style: none;
}

.mainContent a {
    background-size: cover;
}

.avatarImg {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.newInfo {
    display: flex;
    max-width: 630px;
    width: 100%;
    overflow: scroll;
}

.newPosts {
    margin-top: 24px;
}

.posts {
    max-width: 100%;
    width: min(470px, 100vw)
}

.displayFlex {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-Post {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.profielePadding {
    padding: 0px 0px 12px 4px;
}

.iconspostbox {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
}

.iconsbuttons {
    display: flex;
    gap: 15px;
}

.iconButtonSize {
    height: 24px;
    width: 24px;
}

.iconButtonSize:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.buttonlist {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.flexContainerMessege {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.inputfield {
    flex: 1 0 250px;
}

.flexContainerMessege,
button {
    flex: 1 0 10px;
}

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.comentspadding {
    padding: 5px 0px 5px 0px;
}

.onepxline {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #383838;
}

.myProfile{
    display: flex;
    padding-left: 64px;
    flex-direction: column;
    width: 383px;
}

.buttonProfilelist{
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 15px;

}

.dFlex{
    display: flex;
    align-items: center;
    gap: 15px; 
    justify-content: space-between;
}

.dflexC{
    display: flex;
    flex-direction: column;
}

.gap{
    gap: 15px;
}















/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }