* {
    margin: 0px;
}

/* Für Webkit-Browser wie Chrome, Safari */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1); /* Dunkle Farbe mit geringer Deckkraft */
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1); /* Hintergrundfarbe des Tracks */
}

/* Für Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1); /* Farbe des Scrollbalkens und des Tracks */
}



::-webkit-scrollbar {
    width: 1px; /* Breite des vertikalen Scrollbalkens */
    height: 1px; /* Höhe des horizontalen Scrollbalkens */
}

/* Für Firefox */
* {
    scrollbar-width: thin; /* Firefox Option für dünne Scrollbalken */
}



html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

/* .navigation Img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 24px;
}

.navigation div {
    display: flex;
    align-items: center;
} */

section {
    width: 100%;
}

.mainContent {
    display: flex;
    justify-content: center;
    padding: 24px 0px 24px 335px;
    min-height: 100vh;
}




.mainContentInputs {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 75px 0px 125px;

}

.sMarginList {
    margin: 5px 0px;
}

.mMarginList {
    margin: 0px 16px;
}

.mainContent ul {
    display: contents;
}

.mainContent ul li {
    list-style: none;
}

.mainContent a {
    background-size: cover;
}

.avatarImg {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    box-shadow: 0 0 5px #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.newInfo {
    display: flex;
    max-width: 630px;
    width: 100%;
}

.newPosts {
    margin-top: 24px;
    display: flex;
    flex-direction: column-reverse;

}

.posts {
    max-width: 100%;
    width: min(470px, 100vw)
}

.displayFlex {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-Post {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.profielePadding {
    padding: 0px 0px 12px 4px;
}

.iconspostbox {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
    padding: 0px 5px;
}

.iconsbuttons {
    display: flex;
    gap: 15px;
}

.iconButtonSize {
    height: 24px;
    width: 24px;
}

.iconButtonSizeCreatePost {
    background: no-repeat center;
    background-size: cover;
    cursor: pointer;
    width: 300px;
    height: 200px;
}


.iconButtonSize:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.buttonlist {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.flexContainerMessege {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.flexContainerMessege,
button {
    flex: 1 0 10px;
}

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.comentspadding {
    padding: 5px 0px 3px 0px;
    padding-left: 14px;
    overflow-wrap: break-word;
}

.onepxline {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #383838;
}

.myProfile {
    display: flex;
    padding-left: 64px;
    flex-direction: column;
    width: 383px;
}

.buttonProfilelist {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 15px;
}

.dFlex {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.dflexC {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 15px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* overflow: auto; */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.image-selection {
    display: flex;
    flex-direction: column-reverse;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.sidenav {
    height: 95vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fffefe;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 335px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}

#verticalLine {
    position: fixed;
    left: 335px;
    /* Positioniert die Linie rechts vom Navigationsmenü */
    top: 0;
    bottom: 0;
    width: 1px;
    /* Die Breite der Linie */
    background-color: #aaa;
    /* Die Farbe der Linie */
}

.navigation {
    display: flex;
    gap: 34px;
    flex-direction: column;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}


/* @media screen and (max-height: 95vh) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
} */

.sidenav .dark-mode-toggle,
.sidenav .more-menu {
    padding: 8px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidenav .dark-mode-toggle span,
.sidenav .more-menu span {
    color: #818181;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.inputModal {
    padding: 5px 8px 0 14px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
    border-radius: 24px;
    line-height: 22px;
    border: 1px solid #5f6368;
    margin: 0px 80% 0px 0px;
}

.inputfield {
    flex: 3 0 300px;
    padding: 5px 8px 4px 14px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
    border-radius: 24px;
    line-height: 27px;
    outline: none;
    height: auto;
    resize: none;
    overflow: auto;
}

/* Versteckt die Scrollbar für Webkit-Browser */
.inputfield::-webkit-scrollbar {
    display: none;
}

/* Füge dies hinzu, um die Scrollbar vollständig zu verstecken */
.inputfield {
    -ms-overflow-style: none;
    /* IE und Edge */
    scrollbar-width: none;
    /* Firefox */
}

.flexContainerMessege {
    display: flex;
    align-items: flex-end;
    /* Stellt sicher, dass Elemente am Anfang der Flex-Box ausgerichtet sind */
}

.comentspadding {
    position: relative;
    padding-right: 20px;
    /* Platz für das X-Symbol */
}

.delete-comment {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 0 5px;
    opacity: 0.5;
    /* Macht das X standardmäßig weniger auffällig */
    transition: opacity 0.2s;
    /* Fügt eine kleine Animation hinzu, wenn man über das X hovert */
}

/* Stil für das Hovering über das X */
.delete-comment:hover {
    opacity: 1;
    /* Macht das X deutlicher sichtbar beim Drüberfahren */
}

/* Fügt die Hover-Beschreibung hinzu */
.delete-comment:hover::after {
    content: ' Delete comment';
    font-size: 12px;
    background-color: #e9e3e3;
    text-align: center;
    width: 100px;
    border-radius: 55px;
    color: #666;
    position: absolute;
    left: 20px;
    white-space: nowrap;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    padding-right: 20px;
    transition: color 0.2s;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

.close::after {
    content: ' Close ';
    font-size: 12px;
    color: #666;
    background-color: #e9e3e3;
    text-align: center;
    width: 75px;
    border-radius: 55px;
    position: absolute;
    right: 30px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
}

.close:hover::after,
.close:focus::after {
    opacity: 1;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}


.User {
    display: flex;
    font-weight: bold;
}

.likeCount {
    color: #aaa;
    float: right;
    font-size: 12px;
}

.modalx {
    display: flex; /* Verwendet Flexbox für das Zentrieren */
    justify-content: center; /* Zentriert Inhalt horizontal */
    align-items: center; /* Zentriert Inhalt vertikal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Zeigt Scrollbalken nur wenn nötig */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); /* Schwarz mit leichter Transparenz */
  }
  
  .modalx-content {
    display: flex;
    background-color: #fefefe;
    margin: auto; /* Das ist wichtig für das Zentrieren zusammen mit Flexbox */
    border: 1px solid #888;
    margin-top: 5vh;
    width: 80%; /* Oder die gewünschte Breite */
    /* Hier können Sie eine Maximalbreite einstellen, wenn Sie möchten */
    max-width: 1263px; /* Beispielsweise für eine maximale Breite */
    /* Falls das Bild responsiv sein soll, können Sie auch max-height verwenden */
    max-height: 90vh; /* Verhindert, dass das Modal zu hoch wird */
  }
  
  /* Optional: Fügt eine Animation hinzu, wenn das Modal erscheint */
  .modalx {
    animation-name: fadein; /* Namen der Animationen */
    animation-duration: 0.4s, 0.4s; /* Dauer der Animationen */

  }
  
  
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modalx-img {
    object-fit: cover; 
    width: 863px;
    height: 863px;
}

.modalxDiv {  
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    word-wrap: break-word;
    overflow: auto; 
    width: 500px;
    padding: 14px;
    height: 833px;
  }

 
.modalxUserContent {
    display: flex;
    align-items: center;
    gap: 28px;
} 

.postetText {
    max-width: 720px; 
    word-wrap: break-word;
    padding: 14px;
    max-height: 300px;
    overflow-y: scroll; 
    overflow-x: hidden;  
    margin: 1%;
    
}

/* Dunkelmodus-Stile */
.dark-mode,
.dark-mode .mainContentInputs,
.dark-mode .sidenav,
.dark-mode .modal-content,
.dark-mode textarea,
.dark-mode input,
.dark-mode button,
.dark-mode .modalxDiv {
    color: #ffffff; /* Textfarbe */
    background: rgb(32, 33, 36); /* Hintergrundfarbe */
}




















