* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
}

.navigation Img {
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-right: 24px;
}

.navigation div {
    display: flex;
    align-items: center;
}

section {
    width: 100%;
}

.mainContent {
    background-color: wheat;
    display: flex;
    justify-content: center;
    padding-left: 24px;
    padding-left: 335px;
}

.mainContentInputs {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sMarginList {
    margin: 5px 0px;
}

.mMarginList {
    margin: 0px 16px;
}

.mainContent ul {
    display: contents;
}

.mainContent ul li {
    list-style: none;
}

.mainContent a {
    background-size: cover;
}

.avatarImg {
    height: 56px;
    width: 56px;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    box-shadow: 0 0 5px #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}

.newInfo {
    display: flex;
    max-width: 630px;
    width: 100%;
}

.newPosts {
    margin-top: 24px;
    display: flex;
    flex-direction: column-reverse;

}

.posts {
    max-width: 100%;
    width: min(470px, 100vw)
}

.displayFlex {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 15px;
}

.view-Post {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.profielePadding {
    padding: 0px 0px 12px 4px;
}

.iconspostbox {
    display: flex;
    justify-content: space-between;
    margin: 8px 0px;
    padding: 0px 5px;
}

.iconsbuttons {
    display: flex;
    gap: 15px;
}

.iconButtonSize {
    height: 24px;
    width: 24px;
}
.iconButtonSizeCreatePost {
    background: no-repeat center;
    background-size: cover;
    cursor: pointer;
    width: 300px;
    height: 200px;
}


.iconButtonSize:hover {
    filter: opacity(0.5);
    cursor: pointer;
}

.buttonlist {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.flexContainerMessege {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.inputfield {
    flex: 1 0 250px;
}

.flexContainerMessege,
button {
    flex: 1 0 10px;
}

.padding {
    padding-top: 15px;
    padding-bottom: 15px;
}

.comentspadding {
    padding: 5px 0px 3px 0px;
    padding-left: 14px;
    overflow-wrap: break-word;
}

.onepxline {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #383838;
}

.myProfile {
    display: flex;
    padding-left: 64px;
    flex-direction: column;
    width: 383px;
}

.buttonProfilelist {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    gap: 15px;
}

.dFlex {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}

.dflexC {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 15px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-selection{
    display: flex;
    flex-direction: column-reverse;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.sidenav {
    height: 95vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 34px;
    padding-bottom: 34px;
    width: 335px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: column;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 95vh) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav .dark-mode-toggle,
.sidenav .more-menu {
  padding: 8px 32px; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.sidenav .dark-mode-toggle span,
.sidenav .more-menu span {
  color: #818181;
}

/* Schalter-Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

